html, body {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0px 50px;
    box-sizing: border-box;
}

.client {
    color: #00262f;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.client-input, .client-output {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    font-family: Inconsolata;
    font-size: 18px;
}

.client-input {
    width: auto;
    box-sizing: border-box;
    outline: none;
    border-radius: 6px;
    position: relative;
    background-color: #dfedf1;
    margin: 10px;
}

.client-input::-webkit-input-placeholder {
    color: #217b90;
}

.client-output {
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    resize: none;
}

.client-message {
    border-radius: 3px;
    padding: 3px;
    background-color: #dfedf1;
    margin: 1px 0px 1px 0px;
}

.client-message:hover {
    background-color: #fff5ec;
}

.client-message-timestamp {
    float: left;
    margin-right: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: #e88b30;
}

.tooltip .tooltiptext {
    color: #00262f;
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    background-color: #dfedf1;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.client-output::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: #dfedf1;
}

.client-output::-webkit-scrollbar-thumb {
    background-color: #579eaf;
}

.client-output::-webkit-scrollbar-thumb:hover {
    background-color: #217b90;
}